html {
  background: #ebe8ba; /* Old browsers */
  min-height: 100%;
}

body {
  background: url('../img/bg-stars.png') repeat-x center top, linear-gradient(to bottom, #f9b8b4 0%, #ebe8ba 100%) no-repeat center; /* W3C */
  color: #333;
  padding-top: 80px;
}

h1, h2 {
  color: #fff;
}


ul li {
  background: #fff;
  padding: 15px;
}

form {
  background: #fff;
  padding:30px;
}

.alert {
  display: none;
}

.city-list img {
  margin-right: 10px;
}
